---
import CounterButton from '../components/CounterButton';
---

<style>
	.center-Button {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  height: 100vh;
	}
  
  </style>
  
  <div class="center-Button">
	<h1>BOTON QUE INCREMENTA EN 50</h1>
	<CounterButton client:load />
  </div>
  